[package]
name = "osmpbfreader"
version = "0.11.2"
authors = ["Guillaume Pinot <texitoi@texitoi.eu>"]
description = "Read OpenStreetMap PBF files in rust."
documentation = "https://docs.rs/osmpbfreader"
repository = "https://github.com/TeXitoi/osmpbfreader-rs"
keywords = ["openstreetmap", "osm", "pbf"]
categories = ["encoding", "science"]
license = "WTFPL"
readme = "README.md"

[badges]
travis-ci = { repository = "TeXitoi/osmpbfreader-rs" }
appveyor = { repository = "TeXitoi/osmpbfreader-rs" }

[dependencies]
flate2 = "0.2.17"
byteorder = "1.0"
protobuf = "1.1"
flat_map = { version = "0.0.7", features = ["serde1"] }
rental = "0.4"
par-map = "0.1"
pub-iterator-type = "0.1"
serde = "1.0"
serde_derive = "1.0"

[dev-dependencies]
log = "0.3.6"
env_logger = "0.3"
